@font-face {
  font-family: "CMR10";
  src: url("fonts/mathjax_main-regular.woff") format("woff");
}

@font-face {
  font-family: "CMMI10";
  src: url("fonts/mathjax_math-italic.woff") format("woff");
}

@font-face {
  font-family: "CMMI8";
  src: url("fonts/mathjax_math-italic.woff") format("woff");
}